# PostgreSQL Credentials
POSTGRES_USER=<your_postgres_user>
POSTGRES_PASSWORD=<your_postgres_password>
POSTGRES_DB=<your_postgres_db>
DB_PORT=<your_db_port>
DATABASE_URL="postgres://<your_postgres_user>:<your_postgres_password>@<your_db_host>:<your_db_port>/<your_postgres_db>?sslmode=disable"

# Backend Application Port
BACKEND_PORT=<your_backend_port>

# JWT Secret for token signing (use a strong, random secret in production)
JWT_SECRET=<your_jwt_secret_key>

# Cloudflare R2 Credentials
R2_ENDPOINT=https://<your_r2_account_id>.r2.cloudflarestorage.com
R2_ACCOUNT_ID=<your_r2_account_id>
R2_ACCESS_KEY_ID=<your_r2_access_key_id>
R2_SECRET_ACCESS_KEY=<your_r2_secret_access_key>
R2_BUCKET_NAME=<your_r2_bucket_name>
R2_PUBLIC_URL=<your_r2_public_url>